@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@400;500;700&display=swap");

:root {
  --white: rgb(248, 248, 248);
  --gray: #25222d;
  --gray-light: rgb(243, 243, 243);
  --blue: #0d081f;
  --blue-light: #201c31;
  font-family: "M PLUS 1", sans-serif;
}

.btn{
    outline: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-light);
}
.container {
  background: var(--white);
  width: 900px;
  height: 560px;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.music {
  width: 270px;
  height: 330px;
  border-radius: 20px;
  background-color: var(--gray-light);
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.album {
  width: 240px;
  height: 240px;
  background-image: url(https://s.mxmcdn.net/images-storage/albums4/0/5/4/4/8/5/46584450_800_800.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
.controls {
  width: 220px;
  height: 45px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
}
.playList {
  width: 380px;
  height: 330px;
  border-radius: 20px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.headerList {
  display: flex;
  height: 54px;
}
.title {
  width: 100%;
  height: 54px;
  padding-left: 10px;
}
.nameSong {
  margin: 0 0 5px;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}
.infoSong {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}
.valoration {
  margin: 0 0 5px;
  width: auto;
  height: 54px;
  padding-right: 10px;
}
.score {
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
  margin: 0;
}
.max {
  font-size: 12px;
  line-height: 12px;
}
.list {
  width: 100%;
  height: 249px;
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.list::-webkit-scrollbar {
  width: 0;
}
.item {
  height: 100px;
  width: 100%;
  transition: 0.2s;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  padding: 16px 10px;
  font-weight: 700;
  color: var(--gray);
}
.item:hover {
  background-color: var(--blue);
  transition: 0.2s;
  color: var(--white);
}
.pos {
  width: 20px;
  text-align: left;
}
.name {
  width: 100%;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.snippet {
  width: 50px;
  text-align: right;
}
.btnMain{
    font-size: 16px;
    transform: scale(1);
    width: 20%;
    color: var(--blue-light);
    transition: .2s;
}
.btnMain:active{
    transform: scale(1.3);
    transition: .2s;
}