@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@400;500;700&display=swap");

@import "./utils/vars.scss";

@import "./components/music.scss";
@import "./components/playList.scss";
@import "./components/search.scss";

@import "./breakpoints.scss";

@import "./utils/custom.scss";

:root {
  font-family: "M PLUS 1", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gray-light;
  @media (max-width: 820px) {
    padding: 50px 0;
    height: 100%;
  }
}
.container {
  background: $white;
  width: 900px;
  height: 560px;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  @media (max-width: 960px) {
    width: 90%;
  }
  @media (max-width: 820px) {
    width: 400px;
    height: 100%;
    flex-direction: column;
    background-color: transparent;
    padding: 40px 0;
    gap: 10px;
    box-sizing: border-box;
  }
  @media (max-width: 460px) {
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: transparent;
    padding: 0;
    gap: 0;
    box-shadow: none;
  }
}
