@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@400;500;700&display=swap");

@import "./utils/vars.scss";

@import "./components/music.scss";
@import "./components/playList.scss";
@import "./components/header.scss";
@import "./components/currentSong.scss";

@import "./utils/custom.scss";

:root {
  font-family: "M PLUS 1", sans-serif;
}

html {
  --bg-1: #{$bg-1-light};
  --bg-2: #{$bg-2-light};
  --bg-3: #{$bg-3-light};
  --bg-4: #{$bg-4-light};
  --title: #{$title-text-light};
  --subtitle: #{$sub-text-light};
  --text: #{$text-light};
  --shadow: rgba(149, 157, 165, 0.377);
  --white: #fff;
}

@media (prefers-color-scheme: dark) {
  html {
    --bg-1: #{$bg-1-dark};
    --bg-2: #{$bg-2-dark};
    --bg-3: #{$bg-3-dark};
    --bg-4: #{$bg-4-dark};
    --title: #{$title-text-dark};
    --subtitle: #{$sub-text-dark};
    --text: #{$text-dark};
    --shadow: rgba(0, 0, 0, 0.849);
    --white: #fff;
  }
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-1);
  @media (max-width: 820px) {
    height: 100%;
    padding: 50px 0 100px;
  }
  @media (max-width: 460px) {
    padding: 0;
  }
}

.container {
  background: var(--bg-1);
  width: 900px;
  height: 560px;
  border-radius: 20px;
  box-shadow: var(--shadow) 0px 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  @media (max-width: 960px) {
    width: 90%;
  }
  @media (max-width: 820px) {
    width: 400px;
    height: 100%;
    flex-direction: column;
    background-color: transparent;
    padding: 80px 0 0;
    gap: 0;
    box-sizing: border-box;
  }
  @media (max-width: 460px) {
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: transparent;
    padding: 0;
    gap: 10px;
    box-shadow: none;
    padding: 75px 0;
  }
}
