// Colors for light mode

  $bg-1-light: #f8f8f8;
  $bg-2-light: #f0f0f0;
  $bg-3-light: #afafaf;
  $bg-4-light: #111111;
  
  $title-text-light: #111111;
  $sub-text-light: #353535;
  $text-light: #525252;

// Colors for dark mode

  $bg-1-dark: #111111;
  $bg-2-dark: #181818;
  $bg-3-dark: #2e2e2e;
  $bg-4-dark: #414141;

  $title-text-dark: #a7a7a7;
  $sub-text-dark: #a5a5a5;
  $text-dark: #696969;
