@import "../utils/vars.scss";

.playList {
  width: 380px;
  height: 330px;
  border-radius: 20px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 15px;
  .headerList {
    display: flex;
    height: 54px;
    .title {
      width: 100%;
      height: 54px;
      padding-left: 10px;
      .nameSong {
        margin: 0 0 5px;
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
      }
      .infoSong {
        margin: 0;
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
      }
    }
    .valoration {
      margin: 0 0 5px;
      width: auto;
      height: 54px;
      padding-right: 10px;
      .score {
        font-weight: 700;
        font-size: 25px;
        line-height: 25px;
        margin: 0;
        .max {
          font-size: 12px;
          line-height: 12px;
        }
      }
      span {
        @media (max-width: 820px) {
          display: none;
        }
      }
      .settings {
        display: none;
        @media (max-width: 820px) {
          display: flex;
          justify-content: flex-end;
          padding: 0;
          margin: 8px 0 0 auto;
        }
      }
    }
  }
  .list {
    width: 100%;
    height: 249px;
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    &::-webkit-scrollbar {
      width: 0;
    }
    .item {
      height: 100px;
      width: 100%;
      transition: 0.2s;
      border-radius: 10px;
      display: flex;
      gap: 10px;
      padding: 16px 10px;
      font-weight: 700;
      color: $gray;
      &:hover {
        background-color: $blue;
        transition: 0.2s;
        color: $white;
      }
      .pos {
        width: 20px;
        text-align: left;
      }
      .name {
        width: 100%;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .snippet {
        width: 50px;
        text-align: right;
      }
    }
  }
  @media (max-width: 460px) {
    width: 90%;
    padding: 0;
    .headerList {
      .title,
      .valoration {
        padding: 0;
      }
    }
  }
}
