@import "../utils/vars.scss";

.playList {
  width: 380px;
  height: 330px;
  border-radius: 20px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 15px;
  .headerList {
    display: grid;
    grid-template-columns: 1fr 65px;
    height: 54px;
    .title {
      width: 275px;
      height: 54px;
      padding-left: 10px;
      .nameSong {
        width: 275px;
        margin: 0 0 5px;
        font-weight: 700;
        font-size: 26px;
        line-height: 34px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: var(--title);
      }
      .infoSong {
        margin: 0;
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
        color: var(--subtitle);
        .albumName {
          color: var(--text);
          font-size: 10px;
        }
      }
    }
    .valoration {
      margin: 0 0 5px;
      width: auto;
      height: 54px;
      padding-right: 10px;
      text-align: right;
      .score {
        font-weight: 700;
        font-size: 25px;
        line-height: 25px;
        margin: 0;
        color: var(--title);
        .max {
          font-size: 12px;
          line-height: 12px;
        }
      }
      .points {
        @media (max-width: 820px) {
          display: none;
        }
      }
      .settings {
        display: none;
        color: var(--title);
        @media (max-width: 820px) {
          display: flex;
          justify-content: flex-end;
          padding: 0;
          margin: 8px 0 0 auto;
        }
      }
    }
  }
  .list {
    width: 100%;
    height: 249px;
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    &::-webkit-scrollbar {
      width: 0;
    }

    .item {
      height: auto;
      width: 100%;
      transition: 0.2s;
      border-radius: 10px;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 16px 10px;
      font-weight: 700;
      color: var(--title);
      &:hover {
        background-color: var(--title);
        color: var(--bg-1);
      }
      .pos {
        width: 20px;
        text-align: left;
      }
      .playItem {
        display: none;
        font-size: 9px;
        width: 20px;
      }
      .name {
        width: 100%;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .snippet {
        width: 50px;
        text-align: right;
      }
    }
    .active {
      background-color: var(--title);
      color: var(--bg-1);
    }
  }
  @media (max-width: 460px) {
    width: 90%;
    padding: 0;
    .headerList {
      .title {
        padding: 0;
      }
    }
  }
  @media (max-width: 365px) {
    .headerList {
      .title {
        width: 220px;
        .nameSong {
          width: 100%;
        }
      }
    }
  }
}
